<span *ngIf="permissionState == 1">
  <div class="alert alert-danger" role="alert">
    Usuario no tiene permiso para realizar esta accion, lo sentimos.
  </div>
</span>

<span *ngIf="permissionState == 2">
  <div class="alert alert-success" role="alert">
    Sucursal actualizada de manera correcta!
  </div>
</span>


<h1>Bienvenido {{user?.name}}!</h1>

<div class="container mb-3">
  <h1 class="name-holder">
    {{sucursal.Name}}
  </h1>

  <h4>
    <span class="badge badge-success"><i class="fas fa-money-bill-wave"></i> Saldo:</span> ${{sucursal.capital}}
  </h4>
  <h4>
    <span class="badge badge-dark"><i class="fas fa-inbox"></i> Email:</span> {{sucursal.Email}}
  </h4>
  <h4>
    <span class="badge badge-info"><i class="fas fa-phone"></i> Telefono:</span> {{sucursal.Phone}}
  </h4>

  <h4 class="custom-control custom-switch">
    <input [(ngModel)]="habilitada" name="habilitada" type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="sucursal.Enabled">
    <label class="custom-control-label" for="customSwitch1">Habilitada</label>
  </h4>

  <div class="buttons-container">
    <app-button (click)="updateSucursal()">Salvar <i class="fas fa-save"></i></app-button>
    <app-button (click)="deleteSucursal()">Eliminar <i class="fas fa-trash-alt"></i></app-button>
    <app-button>Transacciones <i class="fas fa-receipt"></i></app-button>
    <app-button (click)="goBack()">Atras <i class="fas fa-door-open"></i></app-button>
  </div>
</div>
