<div class="container mb-3">
  <h1 class="name-holder">
    {{sucursal.Name}}
  </h1>

  <h4>
    <span class="badge badge-success"><i class="fas fa-money-bill-wave"></i> Saldo:</span> ${{sucursal.capital}}
  </h4>
  <h4>
    <span class="badge badge-dark"><i class="fas fa-inbox"></i> Email:</span> {{sucursal.Email}}
  </h4>
  <h4>
    <span class="badge badge-info"><i class="fas fa-phone"></i> Telefono:</span> {{sucursal.Phone}}
  </h4>

  <h4 class="enabled-container">
    <input [(ngModel)]="habilitada" name="habilitada" type="checkbox" [checked]="sucursal.Enabled">
    <p>Habilitada</p>
  </h4>

  <div class="buttons-container">
    <app-button (click)="updateSucursal()">Salvar</app-button>
    <app-button (click)="deleteSucursal()">Eliminar</app-button>
    <app-button>Transacciones</app-button>
    <app-button (click)="goBack()">Atras</app-button>
  </div>
</div>
