<div class="container mb-3">
  <div class="name-holder">
    {{sucursal.Name}}
  </div>

  <div>
    Saldo: ${{sucursal.capital}}
  </div>
  <div>
    Email: {{sucursal.Email}}
  </div>
  <div>
    Telefono: {{sucursal.Phone}}
  </div>

  <div class="enabled-container">
    <input type="checkbox" [checked]="sucursal.Enabled">
    <p>Habilitada</p>
  </div>

  <div class="buttons-container">
    <app-button>Salvar</app-button>
    <app-button (click)="deleteSucursal()">Eliminar</app-button>
    <app-button>Transacciones</app-button>
  </div>
</div>
