<form action="checkLogin()" class="login-form">
  <span *ngIf="!loginState">
    <div class="alert alert-danger" role="alert">
      Email or Password not correct! Try Again!
    </div>
  </span>
  <h1 class="animate__animated animate__rubberBand">Login <i class="fas fa-user-circle"></i></h1>

  <div class="txtb">
    <input #userInput [(ngModel)]="username" name="username" type="text" (focus)="focusIn(userInput)" (focusout)="focusOut(userInput)">
    <span data-placeholder="Email"></span>
  </div>

  <div class="txtb">
    <input #passwordInput type="password" [(ngModel)]="password" name="password" (focus)="focusIn(passwordInput)" (focusout)="focusOut(passwordInput)">
    <span data-placeholder="Password"></span>
  </div>

  <app-button (click)="checkLogin()">Login</app-button>

  <div class="bottom-text">
    Don't have account? <a href="#">Sign up</a>
  </div>

</form>
